:root {
  color-scheme: light dark;

  --primary: light-dark(#0969da, #58a6ff);
  --light-primary: light-dark(#218bff, #79c0ff);
  --red: light-dark(#cf222e, #ff7b72);
  --black: light-dark(#0d1117, #ffffff);
  --white: light-dark(#ffffff, #1f2328);
  --dark-gray: light-dark(#24292f, #484f58);
  --gray: light-dark(#6e7781, #6e7781);
  --light-gray: light-dark(#57606a, #b1bac4);
  --lighter-gray: light-dark(#8c959f, #dddedf);
  --code-block-fg: light-dark(#04a5e5, #89dceb);
  --code-block-bg: light-dark(#d9eaf3, #283040);

  --font-header: 'Oswald', 'atkinson hyperlegible', system-ui, -apple-system,
    segoe ui, roboto, ubuntu, helvetica, cantarell, noto sans, sans-serif;
  --font-sans-serif: 'Source Sans 3', 'atkinson hyperlegible', system-ui,
    -apple-system, segoe ui, roboto, ubuntu, helvetica, cantarell, noto sans,
    sans-serif;
  --font-monospace: 'IBM Plex Mono', menlo, monaco, lucida console,
    liberation mono, dejavu sans mono, bitstream vera sans mono, courier new,
    monospace, serif;
  --border-radius: 0.2rem;

  --step--2: clamp(0.6944rem, 0.6826rem + 0.0524vw, 0.72rem);
  --step--1: clamp(0.8333rem, 0.8026rem + 0.1368vw, 0.9rem);
  --step-0: clamp(1rem, 0.9423rem + 0.2564vw, 1.125rem);
  --step-1: clamp(1.2rem, 1.1048rem + 0.4231vw, 1.4063rem);
  --step-2: clamp(1.44rem, 1.2933rem + 0.6519vw, 1.7578rem);
  --step-3: clamp(1.728rem, 1.5114rem + 0.9626vw, 2.1973rem);
  --step-4: clamp(2.0736rem, 1.763rem + 1.3805vw, 2.7466rem);
  --step-5: clamp(2.4883rem, 2.0522rem + 1.9383vw, 3.4332rem);
}

/*
 * Modern CSS reset
 * https://jakelazaroff.com/words/my-modern-css-reset/
 */
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    line-height: 1.5;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-inline-size: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  ol,
  ul {
    list-style: none;
  }

  :not([class]) {
    h1&,
    h2&,
    h3&,
    h4&,
    h5&,
    h6& {
      margin-block: 0.75em;
      line-height: 1.25;
      text-wrap: balance;
      letter-spacing: -0.05ch;
    }

    p&,
    ol&,
    ul& {
      margin-block: 1em;
    }

    ol&,
    ul& {
      padding-inline-start: 1.5em;
      list-style: revert;
    }

    li& {
      margin-block: 0.5em;
    }
  }
}

/* -----------------------------------------------------------------
 * BASE
 * -------------------------------------------------------------- */
* {
  font-family: var(--font-sans-serif);
}

html {
  font-size: var(--step-0);
  margin-inline: auto;
  max-width: 1140px;
}

body {
  background-color: var(--white);
  color: var(--black);
  caret-color: var(--black);
  line-height: 1.75;
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

h4 {
  font-size: var(--step-2);
}

h5 {
  font-size: var(--step-1);
}

h6 {
  font-size: var(--step-0);
}

p {
  margin-bottom: 1.5rem;
}

p > *:last-child {
  margin-bottom: 0;
}

blockquote {
  border-left-color: var(--primary);
  border-left-style: solid;
  border-left-width: 0.15rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem;

  &cite {
    font-style: italic;

    &::before {
      content: '- ';
    }
  }
}

small {
  font-size: var(--step--2);
}

hr {
  border: 0;
  height: 2px;
  margin: 1rem 0;
  background: var(--light-gray);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
  font-variant-numeric: tabular-nums;

  th,
  td {
    vertical-align: top;
    border-bottom: 2px solid var(--light-gray);
    line-height: 15px;
    padding: 15px;
  }

  th {
    font-weight: bold;
    text-align: left;
    color: var(--dark-gray);
  }
}

ul {
  margin: 0;
  padding: 0 1px;
  list-style: disc outside;
  font-variant-numeric: tabular-nums;
}

ol {
  list-style: decimal outside;
}

ol,
ul {
  padding-left: 1rem;
  margin-bottom: 1rem;

  li {
    list-style-position: inside;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2.5rem;
  position: relative;

  a:hover {
    text-decoration: none;
  }

  h1 {
    color: var(--black);
    display: inline;
    font-size: var(--step-2);
    letter-spacing: normal;
    margin-top: 0.5rem;
  }

  nav {
    margin-top: 0.5rem;
    text-align: right;

    a {
      color: var(--black);
      margin-inline: 0.4rem;
    }

    a:hover {
      color: var(--primary);
      text-decoration: underline;
      text-decoration-thickness: 3px;
    }

    a.active {
      color: var(--primary);
      text-underline-offset: 0.3rem;
      text-decoration: underline;
      text-decoration-thickness: 3px;
    }

    a:first-child {
      margin-left: 0rem;
    }

    a:last-child {
      margin-right: 0rem;
    }
  }
}

footer {
  border-top: 1px dashed var(--lighter-gray);
  margin-top: 1.5rem;
  padding-top: 1rem;

  nav {
    margin-top: 0.25rem;
    padding-top: 0.25rem;

    a {
      margin-right: 1rem;
    }

    a:last-child {
      margin-right: 0rem;
    }
  }
}

code,
pre {
  border-radius: 0.4rem;
  font-family: var(--font-monospace);
  font-size: var(--step--2);
  overflow: auto;
}

pre {
  padding: 1rem;

  table td {
    border-bottom-color: var(--gray);
    border-bottom-style: dashed;
    border-bottom-width: 1px;
  }

  code span {
    font-family: var(--font-monospace);
  }
}

code:not([class*='language-']) {
  background-color: var(--code-block-bg);
  color: var(--code-block-fg);
  padding: 0.2rem 0.4rem;
  white-space: normal;
  font-size: var(--step--2);
}

figcaption {
  font-size: var(--step--2);
  text-align: center;

  a {
    font-size: inherit;
  }
}

section a[rel*='noreferrer']::after {
  content: '';
  width: 13px;
  height: 13px;
  margin-left: 4px;
  margin-bottom: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

nav.pagination {
  display: grid;
  grid-template-areas: 'previous pages next';
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: auto;
  margin-top: 25px;
  text-align: center;

  .next,
  .previous {
    color: var(--dark-gray);
    text-align: left;
    text-decoration: none;
  }

  .next {
    text-align: right;
  }

  .previous:hover,
  .next:hover {
    color: var(--primary);
    text-decoration: underline;
  }

  .previous.muted,
  .next.muted {
    color: var(--lighter-gray);
    pointer: none;
  }

  .previous.muted:hover,
  .next.muted:hover {
    text-decoration: none;
  }
}

h1.post {
  margin-top: 0.2em;
}

b.category {
  text-transform: uppercase;
}

div.pageMeta,
div.postMeta {
  color: var(--light-gray);
  font-style: italic;
  margin-bottom: 2rem;

  .wordcount::before,
  .readingtime::before {
    content: ' | ';
  }

  time {
    color: var(--black);
  }
}

div.slashes > a,
div.posts > a {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0.3rem;

  ::after {
    content: '';
  }

  &:hover {
    text-decoration: none;
  }

  time,
  span {
    color: var(--light-gray);
  }

  p {
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  hr {
    align-self: end;
    background: transparent;
    border: 0;
    border-bottom: 1px var(--lighter-gray) solid;
    height: 1px;
    min-width: 1rem;
    //opacity: 0.25;
  }
}

.changelog-item {
  list-style-type: circle;
}

.footnotes-list {
  li p {
    display: inline;

    a:last-child {
      text-decoration: none;
    }
  }
}

.footnote-reference a {
  text-decoration: none;
}

.error404 {
  height: 100vh;
  align-content: center;
  margin: 0;
}

/*
 * MOBILE
 */
@media only screen and (min-width: 641px) {
  header nav.menu-mobile {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  header nav.menu-desktop {
    display: none;
  }

  header nav.menu-mobile {
    display: block;
    position: relative;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--black);
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--white);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 9;
    padding-left: 1rem;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--black);
    font-family: var(--font-sans-serif);
    font-size: 20px;
    transition-duration: 0.25s;
    text-align: left;
  }
  .menu__item:hover {
    color: var(--primary);
  }
}

@media (hover: hover) {
  abbr:hover {
    cursor: help;
  }
}

/*
 * HELPERS
 */
.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.circle {
  border-radius: 100%;
  margin: 0.2rem;
}

.muted {
  color: var(--lighter-gray);
  pointer: none;
}

.shadow {
  filter: drop-shadow(0 0 0.3rem var(--dark-gray));
}

.center {
  margin-inline: auto;
}

.rounded {
  border-radius: 0.3rem;
  margin: 0.2rem;
}

.grayscale {
  filter: grayscale(1);
}
